html {
    background-color: rgb(77, 77, 77);
    font-family: "Source Sans Pro",sans-serif;
}

body {
    margin-left: 20px;
    margin-right: 20px; 
    color: white;

    .bulletList {
        font-size: 16px;
    }

    .nestedList {
        font-size: small;
    }

    .l1 {
        font-size: small;
        margin-left: 22px;
        margin-right: 22px;
    }
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}


.content {
    margin-left: 200px;
    padding-top: 80px;
}

.caption {
    margin-left: 50px;
}

img {
    position:relative;
    left: 50px;
}

/*Nav bar CSS*/
nav {
    /* CSS to style the nav bar*/
    .TopNavBar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #950098; /* background color of the navigation bar */
    }

    .TopNavBar > li {
        float: left; /*float left*/
    }

    .TopNavBar > li a { /*centering the text and coloring box*/
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; 
    }

    .TopNavBar > li a:hover {
        background-color: #6a006c; /* background color when hovering over a link */
    }
}
